* {
    max-width: 100vw;
}

.jumbotron {
    text-align: center;
    height: 150px;
    color:#2eadf7; 
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron h1 {
    font-weight: bold;
}

section button {
    width: 19%;
    height: 50px;
    border-radius: 10px;
}

.sidebar {
    padding: 10px 15px;
    margin: 10px 15px;
    border: solid 2px black;
}

#cSText {
    text-align: center;
}

.searchBtn {
    margin-left: 1px;
}

section button:hover {
    background-color:rgb(61, 28, 110);
    color: white;
}

#clrBtn {
    background-color: white;
    color: black;
    margin-left: 200px;
}

#clrBtn:hover {
    background-color: black;
    color: white;
}

#fiveDayForecast h5 {
    text-align: center;
}

#fiveDayForecast {
    margin-left: 2%;
    margin-right: 2%
}

p {
    margin-left: 5px;
}